@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --lighter-bright-blue: hsla(245, 83%, 68%, 1);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --ff-primary: "Red Hat Display", sans-serif;

  /* base */
  --fs-base: 1rem;
  --fw-base: 500;
  --lh-base-d: 1.625rem;
  --lh-base-m: 1.5625rem;
  --lh-base: var(--lh-base-d);

  /* h1 */
  --fw-h1: 900;
  --fs-h1-d: 1.75rem;
  --fs-h1-m: 1.375rem;
  --fs-h1: var(--fs-h1-d);

  --lh-h1-d: 2.3125rem;
  --lh-h1-m: 1.8125rem;
  --lh-h1: var(--lh-h1-d);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

.hero-img-container img {
  border-radius: 1.25rem 1.25rem 0 0;
}

.hero-img-container img {
  height: 100%;
  width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pale-blue);
}

#background-pattern {
  background-image: url("./public/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.card {
  max-width: 28.125rem;
  border-radius: 1.25rem;
  box-shadow: 0px 2.5rem 2.5rem -1.25rem hsla(228, 87%, 40%, 0.151826);
  margin-block: 4.4375rem;
  margin-inline: 1.5rem;
}

.card-description {
  background-color: white;
  padding: 2.8125rem 3rem 2.1875rem;
  border-radius: 0 0 1.25rem 1.25rem;
}
.text-center {
  text-align: center;
}
h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h1);
  line-height: var(--lh-h1);
  color: var(--dark-blue);
}
p {
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  line-height: var(--lh-base);
  color: var(--desaturated-blue);
}
.card-description > p {
  margin-block: 1.0625rem 20px;
}

.subscription-card {
  border-radius: 0.6875rem;
  padding: 1.5625rem 1.5rem;
  background-color: var(--very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1.25rem 2rem;
}
.melody-price-container {
  display: flex;
}
#melody-icon {
  margin-inline-end: 1.25rem;
  width: 3rem;
  height: 3rem;
}
.price {
  font-size: var(--fs-base);
}
.plan-type {
  font-weight: var(--fw-h1);
  color: var(--dark-blue);
  margin-bottom: .1875rem;
  line-height: 1.3231rem;
}
.price-change-link {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--bright-blue);
}
.price-change-link:hover {
  text-decoration: none;
  color: var(--lighter-bright-blue);
}

.btn {
  cursor: pointer;
  width: 100%;
  border: 0;
  border-radius: 0.6875rem;
  padding: 0.9375rem 0;
}

.proceed-btn {
  background-color: var(--bright-blue);
  color: white;
  margin-block-end: 1.0625rem;
  box-shadow: 0px 1.25rem 1.25rem hsla(245, 75%, 52%, 0.190291);
}
.proceed-btn:hover {
  background-color: var(--lighter-bright-blue);
}
.cancel-btn {
  background-color: transparent;
  color: var(--desaturated-blue);
  font-weight: var(--fw-h1);
}
.cancel-btn:hover {
  color: var(--dark-blue);
}

@media (max-width: 31.25rem) {
  :root {
  --lh-base: var(--lh-base-m);
  --fs-h1: var(--fs-h1-m);
  --lh-h1: var(--lh-h1-m);
  }
  #background-pattern {
    background-image: url("./public/images/pattern-background-mobile.svg");
  }
  .card-description {
    padding: 2rem 1.5rem;
  }
  .subscription-card {
    padding: 1rem;
    margin-block: 1.5rem;
  }
  .plan-type, .price-description {
  margin-bottom: 0;
    font-size: 0.875rem;
  }
  .price-change-link {
    font-size: 0.8125rem;
  }
}
